@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url(./assets/D1BDF688-7362-43B5-9924-140FBE84DD73.JPEG) no-repeat center center fixed;
  background-size: cover;
}

/* main */
.main {
  padding: 3rem;
  min-height: 100vh;
}

.main .cont {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.left {
  width: 7.88%;
  height: 96.5vh;
}

.right {
  width: 89.5%;
  height: 100%;
  padding-left: 2.62%;
}

.sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fa-2x {
  font-size: 1.5em;
}

.sidebar .cog + div {
  padding: 2rem 0 6rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .cog {
  border-radius: 50%;
}

h2, h3, h4, h5 {
  color: rgb(1, 1, 62);
}

.left .card {
  padding: 1.5rem 0.5rem;
}

.fa-lg {
  font-size: 1.1em;
  padding-bottom: 5px;
}

.dr {
  color: rgb(255, 128, 128);
}

.plus {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  border-radius: 15px;
}

.item {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(92, 92, 92);
}

.plus h6 {
  color: rgb(1, 1, 62);
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

nav div:nth-last-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66%;
  padding-right: 1rem;
}

.bell {
  color: rgb(52, 129, 245);
}

nav h2 {
  margin-left: 1rem;
}

section {
  display: flex;
}

.doctors {
  width: 29.57%;
  height: 100%;
}

.dr-name {
  display: flex;
  padding-bottom: 1rem;
}

p {
  font-size: 70%;
  color: rgb(92, 92, 92);
}

h6 {
  color: rgb(92, 92, 92);
}

.doctors .date {
  display: flex;
  padding: 1.5rem 1.5rem 1.5rem 0;
  justify-content: space-between;
}

.img {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.card h5, .card h3, .card h4, .card h6, .card p {
  margin: 0;
}

.card {
  background-color: rgba(255,255,255,0.4);
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.appoint {
  background: white;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  width: 6rem;
  height: 1rem;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  margin-left: 0.2rem;
  margin-right: 1.8rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.b-card {
  display: flex;
}

.b-card .phone {
  color: #ff8080;
}

.b-card .video {
  color: rgb(52, 129, 245);
}

.b-card div:nth-last-child(1), .m-icon, .b-card div:nth-last-child(2) {
  height: 2rem;
  width: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}

.new {
  display: none;
}

.atm {
  background: rgb(52, 129, 245);
  color: white;
  border-radius: 20px;
  padding: 0.8rem;
}

.atm h4, .drugs h2, .atm p, .drugs .cog p, .atm h6 {
  color: white;
}

.atm h4 {
  font-weight: 500;
}

.atm div {
  display: flex;
  justify-content: space-between;
}

.atm + div {
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.payment {
  display: flex;
  justify-content: space-between;
}

.cog {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-1x, .fa-lg, .fa-lg {
  cursor: pointer;
}






.dates {
  width: 69%;
  height: 60vh;
  padding-left: 2.7%;
}

.num-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, 2rem);
  grid-template-rows: 1fr;
  gap: 5px;
}

.num-cont .cog {
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
}

.num-cont .cog:hover, .settings:hover {
  color: rgb(52, 129, 245);
}

.red {
  background: rgb(255, 128, 128);
  color: white;
  box-shadow: 0 0 10px rgba(255, 50, 50, 0.9);
}

.card h3 {
  padding-bottom: 1rem;
}

.exams {
  display: flex;
  gap: 2%;
}

.exams .card {
  margin-bottom: 0;
}

.pain {
  width: 32%;
  cursor: pointer;
}

.treatment {
  display: flex;
}

.treatment .first {
  width: 67%;
}

.treatment .drugs {
  display: flex;
  width: 33%;
}

.treatment div:nth-last-child(1) .cog {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 4rem;
  color: white;
  background: rgb(255, 128, 128);
  margin-right: 0.5rem;
}

.treatment div:nth-last-child(1) .cog h2 {
  margin: 0;
  font-weight: 500;
}

.treatment div:nth-last-child(1) .fa-1x {
  color: rgb(42, 42, 42);
}

.treatment .last {
  display: flex;
  flex-direction: column;
  width: 7rem;
  justify-content: space-between;
}

.treatment .last .icons {
  display: flex;
  flex-direction: row;
}

.m-icon {
  margin: 0.2rem;
}

.icons {
  margin-left: 1rem;
}

.slide {
  width: 75%;
  margin-top: 1.5rem;
  padding: 0.7rem 0;
  font-size: 120%;
  word-spacing: 0.6rem;
}

.text {
  display: flex;
  flex-direction: column;
}

.text h5 {
  padding-bottom: 1rem;
}

.treatment h6 {
  font-weight: 400;
  font-size: 100%;
}

.blue {
  color: rgb(52, 129, 245);
}

.title {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 66.3em) {
  .main {
    padding: 1rem;
  }

  .main .cont {
    flex-direction: column;
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }

  .left {
    width: 100%;
    height: 3rem;
  }
  
  .right {
    width: 100%;
    padding-left: 0;
  }

  .sidebar {
    height: max-content;
  }
  
  .sidebar .cog + div {
    display: none;
  }

  .left .card {
    padding: 0.5rem 0;
  }

  section {
    flex-direction: column;
  }

  .doctors {
    width: 100%;
  }

  .dates {
    width: 100%;
    height: 100%;
    padding-left: 0%;
  }

  .exams {
    flex-direction: column;
    gap: 0%;
  }

  .exams .card {
    margin-bottom: 0.5rem;
    width: 93%;
    padding: 3.5%;
  }

  .treatment {
    flex-direction: column;
  }

  .treatment .first {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .treatment .drugs {
    width: 100%;
  }

  .treatment div:nth-last-child(1) .cog {
    height: 6rem;
  }

  .slide {
    width: 100%;
  }

  nav div:nth-last-child(1) {
    display: none;
  }

  .new {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
  }

  .new .fa-1x {
    padding-left: 1rem;
  }
}